


@media screen and (max-width: 1800px) {
    header nav .menu img{
        display: block;
    }
    header nav .a{
        display: none;
    }
    header span.ON .b {
        display: none;
    }

    header span.ON .c {
        display: none;
    }

    header span.ON .d {
        display: none;
    }
    header span.ON .e {
        display: none;
    }

    header span.ON .a {
        display: block;
    }

    header span.ON{
       
        width: 18%;
        position: absolute;
        left: 91%;
        top: 142%;
    }
    


    .buy_on .steam{
        width: 21%;
    }
    .buy_on .oculus{
        width: 21%;
    }
    
    
    .buy_on .humble_bundle{
        width: 21%;
        padding-left: 4%;
    }
    

    
    
    .buy_on .playstation_store{
        width: 21%;
    }
    .body .sondtrack .img_album .right{
        left: 89%;
    }

    .body .sondtrack .img_album2 .right2{
        left: 89%;
    }
    
}




@media screen and (max-width: 1200px){
    header nav .b{
        display: none;
    }
    header span.ON .b {
        display: block;
    }

    header span.ON .c {
        display: none;
    }

    header span.ON .d {
        display: none;
    }
    header span.ON .e {
        display: none;
    }
   
    
}

@media screen and (max-width: 970px){
    header nav .c{
        display:none;
    }

    header span.ON .c {
        display: block;
    }
    header span.ON .d {
        display: none;
    }
    header span.ON .e {
        display: none;
    }


    header nav .menu img{
        display: block;
    }
    header span.ON{
        top: 203%;
    }


    


    .body .sondtrack .img_album span.sound_on1{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on3{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on2 {
       width: 80%;
        margin: 0 auto;
        display: block;
    }

   


    .body .sondtrack .img_album {
        justify-content: center;
        display: flex;
        padding: 0 0  0;
    }

    

    .body .presentation h1{
        
        padding: 28px 0;
    }
    .body .sondtrack h1{
        
        padding: 28px 0;

    }

    .body .sondtrack .img_album span.sound_on {
        display: block;
        margin: 0 auto;
    }

    body .sondtrack .img_album span.sound_on img {
        
        margin: 0 auto;
        display: block;
        
    }

    

    .body .sondtrack .img_album span.sound_on {
        width: 50%;
    }

   


}
    
@media screen and (max-width: 770px){

   
    header nav .d{
        display:none;
    }

    header .logo {
        width: 23%;
    }
   
    header span.ON .e {
        display: none;
    }
    header span.ON .d {
        display: block;
    }

    header nav .menu img{
        display: block;
    }
    header span.ON{
        top: 300%;
    }

    .banner button{
        
        width: 51%;
        height: 26%;
    }


    .buy_on .steam{
        width: 40%;
        margin-top: 5px;
    }
    .buy_on .steam p{
        margin: 19px 0;
    }

    .buy_on .oculus{
        width: 40%;
        
    }
    .buy_on .oculus p{
        margin: 19px 0;
    }

    .buy_on .humble_bundle{
        width: 40%;
        
    }

    .buy_on .playstation_store{
        width: 40%;
        
    }




    


    .body .sondtrack .img_album span.sound_on1{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on3{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on2 {
        width: 90%;
    }

    body .sondtrack .img_album2 span.sound_on2 img {
        max-width: 363px;
        margin: 0 auto;
        display: block;
    }


    .body .sondtrack .img_album {
        justify-content: center;
        display: flex;
        padding: 0 0  0;
    }

    

    .body .presentation h1{
        
        padding: 28px 0;
    }
    .body .sondtrack h1{
        
        padding: 28px 0;

    }

    .body .sondtrack .img_album span.sound_on {
        display: block;
        margin: 0 auto;
    }

    body .sondtrack .img_album span.sound_on img {
        max-width: 363px;
        margin: 0 auto;
        display: block;
        
    }

    

    .body .sondtrack .img_album span.sound_on {
        max-width: 90%;
    }

    










    .awards .colone {
        padding: 0 47px 54px;
        display: block;
    }   


    .awards {
        height: 100%;
    }

    
    


    .tAndS span p {
        padding: 10px;
    }

    .tAndS span {
        display: block;
        padding-top: 31px;
    }
    .awards .colone ul{
        margin:  0 auto;
    }
}










@media screen and (max-width: 470px){

    .buy_on .humble_bundle p {
        font-size: 43px;
    }

    header .logo{
        width: 30%;
    }


    header nav .e{
        display:none;
    }

    header nav .a{
        display:none;
    }

    header nav .menu {
        
        width: 62px;
    }

   

    .banner button{
        
        width: 51%;
        height: 26%;
    }

    .banner .logo{
        width: 95%;
    }

    header nav .menu img{
        display: block;
    }

    header span.ON{
        
        width: 100%;
        
        transform: translate( -91%, -44%);
    }

    header span.ON .a {
        display: block;
    }

    header span.ON .b {
        display: block;
    }

    header span.ON .c {
        display: block;
    }

    header span.ON .d {
        display: block;
    }

    header span.ON .e {
        display: block;
    }

    

    

    .buy_on .steam{
        width: 84%;
        margin: 5px;
    }


    .buy_on .oculus{
        width: 84%;
        margin: 5px;
    }


    .buy_on .humble_bundle{
        width: 84%;
        margin: 5px;
    }

    .buy_on .playstation_store{
        width: 84%;
        margin: 5px;
    }


    .body {
        height: 1714px;
    }

    .body .presentation iframe {
        height: 308px;
    }

    .body .sondtrack .img_album {
        justify-content: center;
        display: flex;
        padding: 0 0  0;
    }

    .body .presentation h1{
        
        padding: 28px 0;
    }
    .body .sondtrack h1{
        
        padding: 28px 0;

    }

    .body .sondtrack .img_album span.sound_on {
        display: block;
        margin: 0 auto;
    }

    body .sondtrack .img_album span.sound_on img {
        max-width: 363px;
        
    }

    .body .sondtrack .img_album span.sound_on {
        width: 90%;
    }

    

    .body .sondtrack .img_album .right{
        left: 86%;
    }

    .body .sondtrack .img_album2 .right2{
        left: 86%;
    }

    


    .body .sondtrack .img_album span.sound_on1{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on3{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on2 {
        width: 90%;
    }

    body .sondtrack .img_album2 span.sound_on2 img {
        max-width: 363px;
        
    }

    .body .sondtrack .img_album2 span.sound_on2 {
        display: block;
        margin: 0 auto;
    }

    .body .sondtrack .img_album2 {
        justify-content: center;
        display: flex;
        padding: 0 0  0;
    }

    .body .sondtrack h3{
        
        padding: 28px 0;

    }

    

    .awards .colone {
        padding: 0 47px 54px;
        display: block;
    }   


    .awards {
        height: 100%;
    }

    
    


    .tAndS span p {
        padding: 10px;
    }

    .tAndS span {
        display: block;
        padding-top: 31px;
    }

    .buy_on .steam button{
        transform: translate(-50%, -50%);
    }

}