@media screen and (max-width: 1800px) {
    header nav .menu img{
        display: block;
    }
    header nav .a{
        display: none;
    }
    header span.ON .b {
        display: none;
    }

    header span.ON .c {
        display: none;
    }

    header span.ON .d {
        display: none;
    }
    header span.ON .e {
        display: none;
    }

    header span.ON .a {
        display: block;
    }
    
}

@media screen and (max-width: 1200px){
    header nav .b{
        display: none;
    }
    header span.ON .b {
        display: block;
    }

    header span.ON .c {
        display: none;
    }

    header span.ON .d {
        display: none;
    }
    header span.ON .e {
        display: none;
    }

}

@media screen and (max-width: 970px){
    header nav .c{
        display:none;
    }

    header span.ON .c {
        display: block;
    }
    header span.ON .d {
        display: none;
    }
    header span.ON .e {
        display: none;
    }


    header nav .menu img{
        display: block;
    }
    header span.ON{
        top: 203%;
    }

}
    
@media screen and (max-width: 770px){

   
    header nav .d{
        display:none;
    }
   
    header span.ON .e {
        display: none;
    }
    header span.ON .d {
        display: block;
    }

    header nav .menu img{
        display: block;
    }
    header span.ON{
        top: 300%;
    }
    
}

@media screen and (max-width: 400px){

    header{
        height: 5%;
    }


    header .logo{
        width: 30%;
    }


    header nav .e{
        display:none;
    }

    header nav .a{
        display:none;
    }

    header nav .menu {
        
        width: 62px;
    }

    .banner .background{
        width: 393px;
        height: 287px;
    }

    .banner button{
        font-size: 135%;
        width: 51%;
        height: 26%;
    }

    .banner .logo{
        width: 95%;
    }

    header nav .menu img{
        display: block;
    }

    header span.ON{
        top: 176px;
        width: 100%;
        left: 49.9%;
    }

    header span.ON .a {
        display: block;
    }

    header span.ON .b {
        display: block;
    }

    header span.ON .c {
        display: block;
    }

    header span.ON .d {
        display: block;
    }

    header span.ON .e {
        display: block;
    }

    .buy_on .texte h1{
        font-size: 42px;
    }

    .buy_on .texte p{
        font-size: 13px;
    }


    .buy_on .steam{
        width: 84%;
        margin: 5px;
    }


    .buy_on .oculus{
        width: 84%;
        margin: 5px;
    }


    .buy_on .humble_bundle{
        width: 84%;
        margin: 5px;
    }

    .buy_on .playstation_store{
        width: 84%;
        margin: 5px;
    }


    .body {
        height: 1714px;
    }

    .body .presentation iframe {
        height: 308px;
    }

    .body .sondtrack .img_album {
        justify-content: center;
        display: flex;
        padding: 0 0  0;
    }

    .body .presentation h1{
        font-size: 36px;
        padding: 28px 0;
    }
    .body .sondtrack h1{
        font-size: 36px;
        padding: 28px 0;

    }

    .body .sondtrack .img_album span.sound_on {
        display: block;
        margin: 0 auto;
    }

    body .sondtrack .img_album span.sound_on img {
        max-width: 363px;
        
    }

    .body .sondtrack .img_album span.sound_on {
        width: 90%;
    }

    .body .sondtrack .img_album span.sound_on h2 {
        
        font-size: 20px;
    }

    .body .sondtrack .img_album span.sound_on p {
       
        font-size: 16px;
    }


    .body .sondtrack .img_album span.sound_on1{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on3{
        display: none;
    }

    .body .sondtrack .img_album2 span.sound_on2 {
        width: 90%;
    }

    body .sondtrack .img_album2 span.sound_on2 img {
        max-width: 363px;
        
    }

    .body .sondtrack .img_album2 span.sound_on2 {
        display: block;
        margin: 0 auto;
    }

    .body .sondtrack .img_album2 {
        justify-content: center;
        display: flex;
        padding: 0 0  0;
    }

    .body .sondtrack h3{
        font-size: 36px;
        padding: 28px 0;

    }

    .body .sondtrack .img_album2 span.sound_on2 h2 {
        
        font-size: 20px;
    }

    .awards .colone {
        padding: 0 47px 54px;
        display: block;
    }   


    .awards {
        height: 100%;
    }

    .contact h1 {
        font-size: 40px;
    }

    .contact p {
        font-size: 14px;
    }


    .tAndS span p {
        padding: 10px;
    }

    .tAndS span {
        display: block;
        padding-top: 31px;
    }

    .buy_on .steam button{
        transform: translate(-50%, -50%);
    }

}