

*{
    box-sizing: border-box;
    max-width: 100%;
}

header{
    width: 100%;
    


    background: rgba(19, 35, 48, 0.9);
    
    position: fixed;
    
    z-index: 1;
   
}
header .logo{
    width: 11%;
    padding-left: 10px;
}

header .logo img{
    width: 100%;
    padding-top: 12px;
}

header nav {
    
    font-family: 'Glory';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 54px;
    /* or 186% */

    
    align-items: center;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    display: flex;
    
    
}


header nav .menu{
    display: flex;
    max-width: 90px;
}
header nav .menu img{
    width: 100%;
}


header span {
    display: none;
}

header span.ON{
    
    position: absolute;
    background: rgba(19, 35, 48, 1);;
    transform: translate(-50%,-50%);
    right: -12%;
    top: 320%;
    width: 23%;
    display: block;
}
header span.ON a {
    display: inline;
}

header span.ON a {
    
    font-family: 'Glory';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 54px;
    /* or 186% */

    text-decoration: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    display: block;
    color: #FFFFFF;
    
}

header nav a{
    text-decoration: none;
    padding-right: 2.5%;
    color: #FFFFFF;
    transform: rotate(-0.07deg);
    align-items: center;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-weight: 700;
}
a:hover{
    color: gray;
}

/* banner */

.banner{
    position: relative;
    margin: 0 0 -3px;
}
.banner .background{
    
    height: 48%;
    margin: -2px;
    
}
.banner .background img{
    width: 100%;
    height: 100%;
}
.banner .logo{
    position: absolute;
    width: 66%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.banner button{
    box-sizing: border-box;

    position: absolute;
    width: 20%;
    height: 11%;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    display: block;

    border: 6px solid #FFFFFF;
    background:rgba(255, 255, 255, 0);
    border-radius: 60px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

button:hover{
    background: rgba(41, 128, 195, 0.7);
}

/* buy */

.buy_off{
    display: none;
    
}
.buy_on{
    position: relative;
    
    height: 590px;
    
    
    background: #2980C3;
    background-blend-mode: darken;
}

.buy_on .texte{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 29%;
    top: 51%;
    color: #FFFFFF;
}

.buy_on .texte p{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 49px;
    /* or 144% */
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    
}

.buy_on .texte h1{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 113px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding-bottom: 55px;
}


/* steam  */

.buy_on .steam img{
    position: absolute;
    width: 70px;
    height: 72px;
    left: 83%;
    top: 46%;
    transform: translate(-50%,-50%);
}


.buy_on .steam button{
    box-sizing: border-box;

    position: absolute;
    width: 21%;
    height: 18%;
    left: 61%;
    top: 10%;

    border: 6px solid #FFFFFF;
    border-radius: 60px;
    background: rgba(217, 217, 217, 0);
}


.buy_on .steam button {
    
    margin: 0 auto;
    display: block;
    
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    color: #FFFFFF;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
}
.steam button:hover{
    background: #1d4864;
} 

/* oculus */

.buy_on .oculus button{

    box-sizing: border-box;

    position: absolute;
    width: 21%;
    height: 18%;
    left: 58%;
    top: 30%;
    
    border: 6px solid #FFFFFF;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0);
}

.buy_on .oculus img{
    position: absolute;
    width: 67px;
    height: 62px;
    left: 83%;
    top: 46%;
    transform: translate(-50%,-50%);
}

.buy_on .oculus button{

    
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
   
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding-left: 70px;
    color: #000000;
}

.oculus button:hover{
    background: #1d4864;
} 


/* humble_bundle */

.buy_on .humble_bundle button{
    position: absolute;
    width: 21%;
    height: 18%;
    left: 54%;
    top: 50%;

    border: 6px solid #FFFFFF;
    background: rgba(255, 255, 255, 0);
    border-radius: 60px;
    
}

.buy_on .humble_bundle img{
    position: absolute;
    width: 53px;
    height: 53px;
    left: 83%;
    top: 46%;
    transform: translate(-50%,-50%);
    
}

.buy_on .humble_bundle button{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    
    
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding-left: 5%;
    
    color: #D0011B;
}

.humble_bundle button:hover{
    background: #1d4864;
} 

/* playstation_store */

.buy_on .playstation_store button{
    box-sizing: border-box;

    position: absolute;
    width: 21%;
    height: 18%;
    left: 50%;
    top: 71%;
    
    border: 6px solid #FFFFFF;
    background: rgba(255, 255, 255, 0);
    border-radius: 60px;
    
}

.buy_on .playstation_store img{
    position: absolute;
    width: 60px;
    height: 58px;
    left: 83%;
    top: 46%;
    transform: translate(-50%,-50%);
    
}

.buy_on .playstation_store button{

    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    
    
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 13px 36px 0;
    
    color: #000080;
}

.playstation_store button:hover{
    background: #1d4864;
} 
.rectangle{
    display: block;
    
    height: 27px;
    
    background: #0D1D27;
}


/* body */

.body{
    height: 2851px;
    left: 0px;
    top: 1553px;

    background: linear-gradient(270deg, #1C3241 24.39%, #354865 65.92%);

}

.body .presentation h1{

    
    margin: 0 auto;
    display: block;
    padding: 121px 0;


    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 79px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.body .presentation iframe{
    
    width: 83%;
    height: 540px;
    margin: 0 auto;
    display: block;
    
}

.body .sondtrack h1{
    
    padding: 121px ;
    margin: 0 auto;
    display: block;
    

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 84px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;

} 



.body .sondtrack .img_album{
    justify-content: space-between;
    display: flex;   
    padding: 61px 160px 0;
    position: relative;
        
}

.body .sondtrack .img_album span.sound_on{
    width: 24%;
    display: block;
}

.body .sondtrack .img_album span{
    display: none;
}

.body .sondtrack .img_album span.sound_on img{
    width: 100%;
    
}

.body .sondtrack .img_album span.sound_on h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 69.8%;
    padding-top: 80px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.body .sondtrack .img_album span.sound_on p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 69.8%;
    padding-top: 30px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.body .sondtrack .img_album .left {
    position: absolute;
    left: 11%;
    top: 43%;
    transform: translate(-50%,-50%);

}
.body .sondtrack .img_album .left button{
    width: 100px;
    height: 100px;
    border: 0px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
}



.sondtrack .img_album .left button:hover{
    background: #1d4864;
}
.body .sondtrack .img_album .left img{
    width: 100px;
    object-fit: cover;
}

.body .sondtrack .img_album .right{
    position: absolute;
    left: 89%;
    top: 43%;
    transform: translate(-50%,-50%);

    
}

.body .sondtrack .img_album .right button{
    display: block;
    width: 100px;
    height: 100px;
    border: 0px;

    background: rgba(0, 0, 0, 0.5);
}

.sondtrack .img_album .right button:hover{
    background: #1d4864;
}

.body .sondtrack .img_album .right img{
    width: 100px;
    object-fit: cover;
}

/* music pack */


.body .sondtrack h3{
    
    padding: 144px  0 121px;
    height: 108px;
    margin: 0 auto;
    display: block;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 84px;
    line-height: 54px;
    /* or 64% */
    
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.body .sondtrack .img_album2{
    justify-content: space-between;
    display: flex;   
    padding: 61px 160px 0;
    position: relative;
        
}

.body .sondtrack .img_album2 span.sound_on2{
    width: 24%;
    display: block;
}

.body .sondtrack .img_album2 span{
    display: none;
}

.body .sondtrack .img_album2 span.sound_on2 img{
    width: 100%;
    
}

.body .sondtrack .img_album2 span.sound_on2 h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 69.8%;
    padding-top: 80px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.body .sondtrack .img_album2 span.sound_on2 p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 69.8%;
    padding-top: 30px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.body .sondtrack .img_album2 .left2{
    position: absolute;
    left: 11%;
    top: 43%;
    transform: translate(-50%,-50%);
}

.body .sondtrack .img_album2 .left2 button{
    
    width: 100px;
    height: 100px;
    border: 0px;
    background: rgba(0, 0, 0, 0.5);
}
.sondtrack .img_album2 .left2 button:hover{
    background: #1d4864;
}

.body .sondtrack .img_album2 .left2 img{
    width: 100px;
    object-fit: cover;
}

.body .sondtrack .img_album2 .right2{
    position: absolute;
    left: 89%;
    top: 43%;
    transform: translate(-50%,-50%);
}

.body .sondtrack .img_album2 .right2 button{
    
    width: 100px;
    height: 100px;
    border: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.sondtrack .img_album2 .right2 button:hover{
    background: #1d4864;
}

.body .sondtrack .img_album2 .right2 img{
    width: 100px;
    object-fit: cover;
}

.awards {
    
    height: 528px;
    background: linear-gradient(90deg, rgba(190, 57, 71, 0.81) 42.89%, rgba(119, 35, 46, 0.79) 66.95%);
}

.awards .colone{
    padding: 12px;
    display: flex;
    justify-content: center;
    
}

.awards .colone ul{
    display: flex;
    padding: 12px 74px 0;
    position: relative;
    width: 307px;
    height: 115px;
    
    
}

.awards .colone ul li{
    display: inline;
    position: absolute;
    left: 50%;
    width: 70%;
    top: 34%;
    transform: translate(-50%,-50%);
}

.awards .colone ul li h1 {
    font-family: 'Glory';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    
    align-items: center;
    text-align: center;
    
    display: block;
    margin-top: 26px;
    color: #FFFFFF;
    
}

.awards .colone ul li p{
    font-family: 'Glory';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    
    align-items: center;
    text-align: center;
    
    display: block;
    
    color: #FFFFFF;
}
.awards .colone ul .left {
    
    width: 60px;
    height: 119px;
    margin: -14px -74px;
}

.awards .colone ul .right{
    width: 60px;
    height: 119px;
    margin: -14px 264px;
}

.contact{
    
    height: 365px;
    
    background: linear-gradient(90deg, #2779B8 46.44%, rgba(32, 84, 125, 0.88) 58.7%);
}

.contact h1{
    
    padding: 60px 0;


    font-family: 'Glory';
    font-style: italic;
    font-weight: 700;
    font-size: 84px;
    line-height: 94px;
    text-align: center;
    text-transform: uppercase;
    
    
    color: #FFFFFF;
}

.contact p{

    display: block;
    height: 91px;
    
    
    font-family: 'Glory';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
}

.contact .icon{
    
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.contact .icon span {
    margin-right: 25px;
}
.contact .icon .twitter{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFFFFF;
    position: relative;
}

.contact .icon .twitter img{
    
    
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
    
}

.contact .icon .facebook{
    width: 30px;
    height: 30px;
    
}

.contact .icon .facebook img{
    width: 100%;
    height: 100%;
}

.contact .icon .insta{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFFFFF;
    position: relative;
}

.contact .icon .insta img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 3px;
    top: 3px;
}

.contact .icon .youtube{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFFFFF;
    position: relative;
}
.contact .icon .youtube img{
    width: 29px;
    height: 29px;
    position: absolute;
    top: 1px;
    left: 0.5px;
}

.contact .icon .tik{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FFFFFF;
    position: relative;
}

.contact .icon .tik img{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 5px;
    left: 4px;
}

.tAndS{
    
    height: 116px;
    
    
    background: #11161D;

}

.tAndS span{
    display: flex;
    justify-content: center;
    padding-top: 31px;
}


.tAndS span p{
    font-family: 'Glory';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 69.8%;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-right: 28px;
}

.tAndS p1{
    font-family: 'Glory';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 69.8%;
    display: flex;
    justify-content: center;
    padding-top: 27px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}
.tAndS img{
    width: 16px;
    height: 16px;
}

 
    
 